// ILIAS variable
$il-margin-xlarge-vertical: 15px;
$il-margin-xlarge-horizontal: 15px;
$il-margin-small-vertical: 2px;
$il-margin-small-horizontal: 2px;
$il-main-border-color: #dddddd !default;
$il-main-border: 1px solid $il-main-border-color !default;

$bg-hover-highlight: #dddddd;

$checked-on-top: true;

$container-height: 150px;

// reset browser
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// basics 

body {
    font-family: 'Open Sans', sans-serif;
}

.limited-width {
    max-width: 1000px;
}

.row {
    display: flex;
}

.col-flex-grow-1 {
    flex-grow: 1;
}

.col-flex-grow-3 {
    flex-grow: 3;
}

// filterable select component

.c-searchable-list {
    &__body {
        margin-top: $il-margin-xlarge-vertical;
        border: $il-main-border;
        // padding: $il-margin-xlarge-vertical;
        height: $container-height;
        overflow-y: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        order: if($checked-on-top, 2, null);
        height: auto;
        // max-height, transform and transition duration should match JS
        max-height: 900px;
        transform: scale(1, 1);
        transition: max-height .2s ease, scale .1s ease;
        overflow: hidden;
        transition: .5s;
        transform-origin: top;

        label {
            display: block;
            width: 100%;
            padding-left: $il-margin-xlarge-horizontal;
            padding-right: $il-margin-xlarge-horizontal;
            padding-top: $il-margin-small-vertical;
            padding-bottom: $il-margin-small-vertical;
        }

        &:hover label {
            background-color: $bg-hover-highlight;
        }

        &.selected {
            order: if($checked-on-top, 1, null);
            animation-name: change-order-push-up;
            animation-duration: .4s;
            animation-timing-function: ease;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
        }
    }
}

/* animations */

@keyframes change-order-push-up {
    0% {
        @if $checked-on-top {
            transform: translateY(0px);
            opacity: 1;
            order: 2;
        }
    }

    50% {
        @if $checked-on-top {
            transform: translateY(-10px);
            opacity: 0;
            order: 2;
        }
    }

    51% {
        @if $checked-on-top {
            transform: translateY(10px);
            opacity: 0;
            order: 1;
        }
    }

    100% {
        @if $checked-on-top {
            transform: translateY(0px);
            opacity: 1;
            order: 1;
        }
    }
}